extends main.pug

block body

    form
      .form-group
        label(for='exampleInputEmail1') Email address
        input#exampleInputEmail1.form-control(type='email', placeholder='Email')
      .form-group
        label(for='exampleInputPassword1') Password
        input#exampleInputPassword1.form-control(type='password', placeholder='Password')
      .form-group
        label(for='exampleInputFile') File input
        input#exampleInputFile(type='file')
        p.help-block Example block-level help text here.
      .checkbox
        label
          input(type='checkbox')
          |  Check me out
      button.btn.btn-default(type='submit') Submit


    footer
      .container
        .row
          .col-md-6
            ul.legals
              li
                a(href='#') Terms & Conditions
              li
                a(href='#') Legals
          .col-md-6.credit
            p
              | Designed & Developed by
              a(href='http://www.peterfinlan.com/') Peter Finlan
              |  exclusively for
              a(href='http://tympanus.net/codrops/')
                em Codrops
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='../js/waypoints.min.js')
    script(src='../js/bootstrap.min.js')
    script(src='../js/scripts.js')
    script(src='../js/jquery.flexslider.js')
    script(src='../js/modernizr.js')


